.league{
    cursor: pointer;
}
.home-bannerImage-container{
    position:absolute;
    /* top: -10px; */
    right: 0rem;
    z-index: -2;
    /* max-width: 50%; */
    height: 10%;
    max-height: 10%;
}
.home{
    height: 100%;
}
.a{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.playerImg{
    max-width: 42.4%;
    margin-left: 0% ;
    /* width: 50%; */
    /* max-height: 40%; */
}
.home-image-section {
    max-width: 600px;
    flex: 1;
}
.home-text-section {
    /* flex: 1; */
    /* display: flex; */
    margin-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3%;
}
.primary-heading {
    font-size: clamp(2rem, 5vw, 4rem);
    /*color: #4c4c4c;*/
    color: #262626;
    /* line-height: 5rem; */
    max-width: 450px;
    /* margin: 100px; */
}
.primary-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #6a6a6a;
    margin: 1.5rem 0rem;
}
.secondary-button {
    padding: 1rem 2.5rem;
    background-color: #7d0dfe;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.joinBtn{
    margin-right: 10px ;
    background-color: #fece0d;
    font-size: 90%;
    height: 10%;
    width: 30%;
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /*Add ellipsis (...) for overflow*/
    display: inline-block; 
    margin-top: 3%;
    margin-left: 3%;
    
}  
.secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
}

.secondary-button:hover {
    background-color: #920fe4;
}
.joinBtn:hover {
    background-color: #e4a40f;
}  