.league-builder{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.3)),
    url("../assets/home-banner-background_green.png");
  background-position: center;
  background-size: cover;
  
}
.league-form{
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 10px; 
  background: transparent;
  border: 2px solid rgba(255,255,255,.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 60px rgba(229, 10, 10, 0.298);
  border-radius: 30px;  
  /* margin-left: 25%; */
  width: 65%;
}
.logo-container h1{
  color:black;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.formInput input,.trigger{
  padding: 15px !important;
  margin: 10px 0px !important;
  border-radius: 20px !important;
  width: 100% !important;
  height: 100% !important;
  text-align: center !important;
  border: 3px solid #ccc;
  font-size: 16px;
  font-weight:520;
  background-color: #f1f1f1 !important;
}
.trigger{
  border: 2px solid #ccc !important;

}

input:focus ,.trigger:focus {
  border: 3px solid black !important;
}

.league-btn{
  padding: 25px !important;
  height: 50px !important;
  width: 100% !important;
  border-radius: 30px!important;
  margin-top: 5% !important;
  background: linear-gradient(#53f800b3,rgba(192, 240, 0, 0.983)) !important;
  cursor:pointer !important;
  opacity: 0.8 !important;
  font-size: 20px !important;
  
}
.logo{
  height: 300px;
  width: 300px;
}
.logo-container{
  align-items: center;
  justify-content: center;
  padding-top: 4%;
}
.formInput, .flex1{
  display: flex;
  flex-direction: column;
  text-align: center !important;
}

.formInput label, .selectlabel{
  color: black ;
  font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  font-size: 20px !important;
  font-weight:  bold !important;
  text-align: center !important;
  justify-content: center !important;

}
.selectItem,.trigger{
  justify-content: center !important;

}

.content, .trigger{
  width: 100% !important;
}
.selectLeague{
  justify-content: center !important;
  display: flex !important;
  width: 100% !important;
  text-align: center !important;
  background-color: #f1f1f1 !important;

}

.message{
  color: #f60707;
  text-align: center;
  margin-top: 10px;
}