.league-builder{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.3)),
    url("../assets/home-banner-background_green.png");
  background-position: center;
  background-size: cover;
  
}
.league-form{
  padding: 50px 90px;
  border-radius: 10px; 
  background: transparent;
  border: 2px solid rgba(255,255,255,.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 60px rgba(229, 10, 10, 0.2);
  border-radius: 30px;  
  /* margin-left: 25%; */
  width: 65%;
}
.logo-container h1{
  color:black;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
input{
  padding: 15px;
  margin: 10px 0px;
  border-radius: 20px;
  width: 100%;
  text-align: center;
}

.league-btn{
  padding: 25px !important;
  height: 50px !important;
  width: 100% !important;
  border-radius: 30px!important;
  margin-top: 5% !important;
  background: linear-gradient(#53f800b3,rgba(192, 240, 0, 0.983)) !important;
  cursor:pointer !important;
  opacity: 0.8 !important;
  
}
.logo{
  height: 300px;
  width: 300px;
}
.logo-container{
  align-items: center;
  justify-content: center;
  padding-top: 4%;
}
.formInput{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.formInput label{
  color: blue;
  text-decoration:blueviolet;
}
