.line-up{
    /* padding: 10px;
    margin: 5px; */
}
.line{
    background: url("/home/omrirata/DreamTeam/Dream_Team/Frontend/src/assets/soccer_field2.jpg")no-repeat; 
    height: 950px;
    width: 650px;
}
.teamH1{
    color:rgb(20,60,20);
    font-size: 40px;
    text-align: center;

}
.applyBtn{
    width: 600px;
    align-items: center;
}
/* .fieldImg{
    height: 700px;
    width: 700px;
    background: transparent;
    opacity: 0.8;
    margin: 10px;
} */