.player-selection{
    justify-content:center;
    align-items: center;
    position: relative;
    height: 900px;
}
.spinner{
    position: relative;
    height: 100px;
    color:greenyellow;
    margin-left: 45%;
    font-weight: bold;
    width: 100px;
    top:35%;
}
.filter{
    width: 400px;
}
.fillterCat{
    padding: 2%;
    /* background-color:azure; */
    border-radius: 30px;
}
.priceHeader{
    color:white;
    font-size: larger;
    font: optional;
}
.slider{
    margin-top: 2%;
}
.scroll{
    margin-top: 5px;
    width: 600px;
    width: 100%;
    height: 100%;
}
.player-selection .search table{
    max-width:100%;
    /* margin: 7px; */
    padding-top: 10px;
}
.search{
    width: 600px; /*Adjust the width as needed */
    margin: 0 auto;
}
.league-logo{
    color:rgb(230, 239, 230);
    font-size: 16px;
    text-align: center;
}
.mt-4{
    color:rgb(230, 239, 230);
    font-size: 20px;
    text-align: center;
    margin:5px;
}
.my-3{
    max-width: 100%;
    width: 100%;    
    position: relative ;
    background-color: white;
}
.player-box{
    opacity:unset;
    width: 600px !important;
    max-width: 100% !important;
    /* background-color: green; */
    border-radius:inherit;

}


.card{
    width: 100% !important;
}
.searchBtn{
    width: 25%;
}
.addBtn,.searchBtn{
    float:right !important;
}
.price{
    float: right;
    position: absolute;
    right: 20%;

}
.addBtn{
    /* margin-right: 5%; */
    position: absolute;
    width: 15%;
    right: 3% !important;
    /* height: inherit; */
}