.team-builder{
    padding:5px;
    /* border: 2px solid rgb(0, 195, 255) !important; */
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    max-height: 100%;
    display: table;
    /* margin:10px; */
    background: url('../src/assets/soccer_background_3.jpg');
    background-size:contain;
}

.playerSelect{
    width: 100%;
    height: 100%;
    display: table-cell;
}

.Line-up{
    width: 100%;
    height: 100%;
    display: table-cell;
    margin-right: 200px;
}