
.team{
    background-color:azure;
    display: flex;
    height: 20%;
    justify-content: center; /* Align children horizontally at the center */
    align-items: center; /* Align children vertically at the center */
}
.updateBtn{
    width: 100%;
    margin-top:1%;
    margin-bottom:1%;
    font-size: larger;
    height: 40px;
}