.updateTeam{
    display: table-cell;
    vertical-align:middle;
}
.team{
    display: table;
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.inner {
    margin-left: 30%;
    margin-right: 30%;
    width: 400px;
    /* Whatever width you want */
}
.updateBtn{
    width: 625px;
}