
.team{
    background-color:azure;
    display: flex;
    height: 20%;
    justify-content: center; /* Align children horizontally at the center */
    align-items: center; /* Align children vertically at the center */
}
.updateBtn{
    width: 100%;
    margin-top:1%;
    margin-bottom:1%;
    font-size: larger;
    height: 40px;
}

.countdown-timer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.timer-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    width: 70px; /* Adjust to match circle size */
    height: 70px; /* Adjust to match circle size */
}

.timer-circle .value {
    font-size: 18px; /* Adjust the font size of the value */
    font-weight: bold;
    color: #004777;
}

.timer-circle .label {
    font-size: 12px; /* Adjust the font size of the label */
    margin-top: 4px;
    color: #333;
}
.fontStyle{
    font-weight: 900;
    font-size: 20px;
}