.App{
    display: inline;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.body-home{
  background: transparent;

}
.body-register {
  background: url('./assets/soccer_background_5.jpeg') no-repeat center center fixed;
}
.body-login {
    background: url('./assets/sport-football-arena-photography.jpg')no-repeat center center fixed; 
}

.body-login,.body-register{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}